img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.information{
  display: flex;
  align-items: center;
}

.data{
  height: max-content;
  margin-left: 25px;
}

.followers{
  flex-grow: 2;
}
 
.details span{
  font-size: 24px;
  font-weight: bold;
}

.details p.sidedata{
  margin-bottom: 2px;
}