.details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.information {
  display: flex;
  align-items: center;
}

.details .information img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.data {
  height: max-content;
  margin-left: 25px;
}

.followers {
  flex-grow: 2;
}

.details span {
  font-size: 24px;
  font-weight: bold;
}

.details p.sidedata {
  margin-bottom: 2px;
}


button.EditUser {
  border: 1px solid #047afc;
  transition: all .3s;
  border-radius: 3px;
  padding: 3px 7px;
}

button.EditUser:hover {
  color: #f2f2f2;
  background-color: #047afc;
}

div.modalContainer{
  background: white;
  padding: 10px 50px;
  overflow: hidden;
}

form.formStyle{
  width: 100%;
  margin-top: 15px;
}

img.EditUserImage{
  width: 65%;
  border-radius: 50%;
}