.featured, .events  {
  list-style: none;
  padding: 5px;
  padding-left: 15px;
  max-height: 165px;
  overflow-y: auto;
}

.featured_item , .events_event {
  margin-bottom: 5px;
  text-transform: capitalize;
  background: white;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  max-width: 80%;
}

.featured::-webkit-scrollbar,
.events::-webkit-scrollbar {
  width: 0px;
}

.newEvent{
  padding: 5px 10px;
  transition: all 0.3s;
}
.newEvent:hover{
  background-color: #0056b3;
  border-radius:5px ;
  color: #f5f5f5;
}