.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px;
  max-height: 430px;
  overflow-y: auto;
}

.item {
  flex-basis: 40%;
  margin-bottom: 10px;
  position: relative;
  flex-basis: 260px;
}

.item>div {
  padding: 8px;
}

.item>div img {
  width: 100%;
  height: 150px;
  border-radius: 0;
}

.item .price {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  font-weight: bold;
  padding: 2px 5px;
  border-bottom-right-radius: 5px;
}

.grid::-webkit-scrollbar {
  width: 0px;
}

.item p.tooltipText {
  font-weight: bold;
  font-size: 16px;
  font-family: serif;
  transform: translateZ(0);
  will-change: unset;
}

.item .content {
  margin-bottom: 35px;
}

.item .content h4 {
  margin: 10px 0;
  font-family: serif;
  font-weight: 500;
}

.item .content p:first-of-type  {
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
}

.item .action {
  position: absolute;
  bottom: 0;
  /* left: 5px; */
}