.posts_showPosts_title {
  font-size: 14;
}

.posts {
  width: 90%;
}

.posts_postForm_postBody {
  width: 100%;
}

.posts_postForm_action {
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
}

.posts_postForm_action_label {
  margin: 0;

}

.root {
  background: yellow;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 0 0 0 0 0 0;
}

.root:hover {
  /* box-shadow: 13px 20px 39px -16px rgba(0,0,0,0.48); */
  box-shadow: 0 20px 19px -16px rgba(0, 0, 0, 0.48);
}

.root .posts_showPosts_body {
  padding: 0;
}

.root .options {
  position: absolute;
  right: 5px;
  top: 5px;
}

.posts_showPosts_body_title {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 1px 108px -37px;
}

.posts_showPosts_body_title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.posts_showPosts_body_title .posts_showPosts_body_title_username {
  display: inline-block;
  margin-left: 15px;
}

.post_action {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #f2f2f2;
  padding: 5px 10px;
  margin-top: 10px;
}

.post_action_icons:hover {
  cursor: pointer;
}

.new_added {
  animation-name: new_post;
  animation-duration: 700ms;
}

@keyframes new_post {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}



.root .paperRoot {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .root .paperRoot .input {
    margin-left: 10px;
    flex: 1;
  }
  .root .paperRoot .iconButton {
    padding: 10;
  }
  .root .paperRoot .divider {
    height: 28;
    margin: 4;
  }
  